{% extends 'base.html.twig' %}
{% block title %} El Sensor de Vinos. {% endblock %}
{% block body %}
    <div>
        <div id="root">
            AUTHENTICATION CONTROLLER
        </div>
    </div>
{% endblock %}
